html {
   background: #525458 url(imagens/bg3.png) center top repeat fixed;
   margin: 0;
   padding: 0;
}

body {
   /*background-color: white;*/
   max-width: 95%;
   width: 50em;
   margin: 0 auto;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Raleway', serif;
   font-weight: 700;
}

h1 {
   color: white;
   text-align: right;
   margin: 0 190px 0 0;
   padding: 0.5em;
   font-size: 150%;
}

h2 {
   margin: 1.5em 0 1em;
   padding: 0.3em 0;
   font-size: 140%;
   color: #b40;
   border-top: solid 1px #b40;
}

#main h2,
#main h3,
#main p,
#main .figure,
#main ul {
   margin-left: 2.5%;
}

#content h2:first-child {
   margin-top: 0;
   border-top: none;
}

#main {
   background-color: white;
   padding: 32px 20px;
   margin: 0 202px 32px 0;
   border-radius: 32px;
}

#main a { color: #0000ff; text-decoration: none; }
#main a:hover { background-color: #d9d9ff; }
#main a:active { background-color: #d9d9ff; color: red; }
#main a:focus { background-color: #d9d9ff; color: red; }

#myinfo {
   margin-top: 48px;
   color: black;
   float: right;
}

#myinfo #info-header {
   background-color: #557755;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   padding: 10px;
}

#myinfo #info-text {
   background-color: #c9d9bf;
   padding: 20px 16px 10px 16px;
   width: 170px;
}

#myinfo #info-picture { text-align: center; margin: 0 0 1em 0; }
#myinfo #info-text p { margin: 0 0 0.75em; }

#main p, #main ul {
   margin-top: 0.25em;
}

#myinfo a { color: #333; }
#myinfo a:hover { color: #000; background-color: #8b8; }

#myinfo .info-left {
   float: left;
   width: 50%;
   font-style: italic;
}

#myinfo .info-right {
   float: right;
   text-align: right;
   width: 50%;
}

.clear {
   clear: both;
}

li {
   margin-bottom: 0.5em;
}

.figure {
   text-align: center;
}

img {
   border: none;
}

.item-meta {
  display: block;
  font-size: 83%;
  color: #666;
}

@media screen and (max-width: 480px) {

#myinfo {
   float: none;
   margin-top: 0;
   margin-bottom: 1em;
}

#myinfo #info-text {
   width: auto;
}

#main {
   margin-right: 0;
}

}
