{% extends "base.html" %}
{% block content %}
<section class="blogArchive">
{% block content_title %}
<h2 class="blogArchive__title">All articles</h2>
{% endblock %}

<section class="blogArchiveArticles">
{% for article in articles_page.object_list %}
  <article class="blogPost">
    <header class="blogPostTitle">
      <h2 class="blogPostTitle__text">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">{{ article.title|striptags|e }}</a></h2>
    </header>
    <footer class="blogPostMeta">
      <div class="blogPostMeta__taxonomy">
        <div class="blogPostMeta__category">
          <span class="blogPostMeta__categoryLabel">Categoria</span>
          <span class="blogPostMeta__categoryValue">
            <a href="{{ article.category.url|e }}">{{ article.category|e }}</a>
          </span>
        </div>
        {% if article.tags %}
        <div class="blogPostMeta__tags">
          <span class="blogPostMeta__tagsLabel">Tags</span>
          <div class="blogPostMeta__tagList">
            {% for tag in article.tags %}
            <span class="blogPostMeta__tagValue"><a href="{{ tag.url|e }}">{{ tag.name|e }}</a></span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <time class="blogPostMeta__timePublished" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
    </footer>
    <section class="blogPostContent">
      {{ article.summary }}
    </section>
  </article>
{% endfor %}
</section><!-- .blogArchiveArticles -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- .blogArchive -->
{% endblock content %}
