<div class="myinfo">
  <h2 class="info-header">Quem sou eu?</h2>
  <div class="info-text">
    <p class="description">Engenheiro de software; Mestre em Física (<a href="https://www.if.usp.br/">IFUSP</a>)</p>
    <p class="cv"><a href="https://lattes.cnpq.br/8989475867286609">Currículo Lattes</a></p>
    <p class="contact">Contato:<br>
      <a href="https://bsky.app/profile/edudobay.bsky.social" title="Bluesky"><i class="fa-brands fa-bluesky" aria-label="Bluesky"></i></a>
      <a href="https://www.linkedin.com/in/edudobay/" title="LinkedIn"><i class="fa-brands fa-linkedin" aria-label="LinkedIn"></i></a>
    </p>
  </div>
</div>
